<!--
Team KateLin
Kaitlin Wan + Kevin Lin
SoftDev1 pd6
K 14: Do I Know You?
2018-10-01
-->
<!DOCTYPE html>
<html>

<head>
<link rel="stylesheet" type="text/css" href="static/mystyle.css">
</head>

<body>

<title>Logged in!</title>
<center>
<h1>Welcome to KateLin's Website!</h1>


Hello <b> {{name}}</b>!
Welcome to the SQUAD!
<br><br><br>
<img src = "{{url_for('static', filename='wave.gif')}}">
<br><br><br>
<form action="/logout">
  <input type="submit" name="logout" value="Log Out">
</form>



</center>
</form>

</body>
</html>
